@*@model BitirmeProjesi.ViewModels.User.Security.RegisterViewModel*@

@using (Html.BeginForm("Register", "Security", FormMethod.Post))
{
    @Html.ValidationSummary()
    <form>
        <h1>Veteriner Hesabı Oluştur</h1>
        <br />
        @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", type = "text", placeholder = "Kullanıcı Adı", required = "required" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "E-mail", required = "required" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre", required = "required" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Şifre Tekrar", required = "required" })*@
        <br />
        <button>Kayıt Ol</button>
    </form>

}



