<div>
    <div class="row row-cards">
        <div class="col-xl-12">
            <div class=" col-lg-12" ">
                <div class="main-content-app">
                    <div class="main-content-body main-content-body-chat h-100">
                        <div class="main-chat-body flex-2" id="ChatBody">
                            <div class="content-inner">
                                @foreach (var item in ViewBag.fromVetToUserMessages)
                                {
                                    <div class="media chat-left">
                                        <div class="media-body">
                                            <div class="main-msg-wrapper">
                                                <span>@item.ContentMessage</span>
                                            </div>
                                            <div>
                                                <span>@item.CreateDate.ToString("dd-MMM-yyyy hh:mm ")</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @foreach (var item in ViewBag.fromUserToVetMessage)
                                {
                                    <div class="media flex-row-reverse chat-right">
                                        <div class="media-body">
                                            <div class="main-msg-wrapper">
                                                <span>@item.ContentMessage</span>
                                            </div>
                                            <div>
                                                <span>@item.CreateDate.ToString("dd-MMM-yyyy hh:mm ")</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="main-chat-footer">
                            <input class="form-control" placeholder="Mesajınızı Yazınız" type="text">
                            <button type="button" class="btn btn-icon  btn-primary brround"><i class="fa fa-paper-plane-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<script src="~/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
<script src="~/assets/plugins/p-scroll/pscroll.js"></script>
<script src="~/assets/plugins/p-scroll/pscroll-1.js"></script>
<script src="~/assets/js/chat.js"></script>
