
@model List<BitirmeProjesi.ViewModels.User.VetListViewModel>

@{
    ViewBag.Title = "Veterinerler";
    Layout = "~/Areas/Vet/Views/Shared/_Layout.cshtml";

}

<br />

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title ">Veterinerler</h3>
            </div>
            <div class="card-body">
                <div class="row row-cols-4">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-3 col-sm-6 col-md-6">
                            <div class="card border p-0">
                                <div class="card-header ">
                                    <h3 class="card-title">Veteriner Hekim</h3>
                                </div>
                                <div class="card-body text-center">
                                    <i></i>
                                    <h4 class="h4 mb-0 mt-3">@item.FullName</h4>
                                </div>
                                <div class="card-footer text-center">
                                    Ortalama Puan:<b>@item.RatingScore</b>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="d-flex justify-content-center">
                                        <a href="@Url.Action("VetProfile","Vet",routeValues: new {Area = "Vet",vetId = item.Id})" class="btn btn-success"><i class="fe fe-user"></i>Profil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/plugins/notify/js/sample.js"></script>

