
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title">Hayvanlarım</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="responsive-datatable">
                        <thead>
                            <tr>
                                <th class="wd-15p border-bottom-0">Hayvan Adı</th>
                                <th class="wd-15p border-bottom-0">Irkı</th>
                                <th class="wd-15p border-bottom-0">Doğum Tarihi</th>
                                <th class="wd-15p border-bottom-0">Cinsiyet</th>
                                <th class="wd-15p border-bottom-0">Aşı Bilgileri</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>ad</td>
                             <td>ırk</td>
                             <td>dt</td>
                             <td>cisiyet</td>
                             <td>aşı bilgileri</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


