
<form action="#">
    <h1>Hesap Oluştur</h1>
    <br />
    <input type="text" placeholder="Kullanıcı Adı" />
    <input type="email" placeholder="E-mail" />
    <input type="password" placeholder="Şifre" />
    <input type="password" placeholder="Şifre Tekrar" />
    <button>Kayıt Ol</button>
</form>