<div class="row row-cards">
    <div class="col ">
        <div class="card">
            <div class="card-body">
                <div class="rating-stars block" id="rating-2" data-stars="2">
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="clearfix"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<!-- Star Rating Js-->
<script src="~/assets/plugins/rating/jquery-rate-picker.js"></script>

<script>
    $.ratePicker("#rating-2", {
        rate: function (stars) {
            $.ajax({
                type: "POST",
                url: "/Question/SendRating/",
                data: { "star": stars },
            });
        }
    });
</script>


